h1 {
	margin-bottom: 20px;
	text-align: center;
	font-size: 40px;
}

div {
	/* background-color: gray; */
	/* margin-right: 20px; */
	/* border: 1px solid black; */
	/* margin-bottom: 15px; */
}

#header1 {
	border: 2px solid black;
	width: 150px;
	height: 35px;
	font-size: 25px;
	background-color: #A52A2A;
	margin: auto;
	margin-right: 0px;
	text-align: center;
}

#header2 {
	border: 2px solid black;
	width: 150px;
	height: 35px;
	font-size: 25px;
	background-color: #DEB887;
	margin: auto;
	margin-right: 0px;
	text-align: center;
	color: white;
}

#header3 {
	border: 2px solid black;
	width: 150px;
	height: 35px;
	font-size: 25px;
	background-color: #5F9EA0;
	margin: auto;
	margin-right: 0px;
	text-align: center;
}

p {
	margin: 10px;
	color: yellow;
	background-color: gray;
}

.row {
	padding: 0px;
	margin: 0px;
	border: 0px;
	width: 100%;
}

section {
	background-color: gray;
}
